<section class="flex justify-center h-[80vh] bg-white text-black font-indie px-8">

    <div class="flex items-center mx-auto w-[1000px]">
        <div class="w-1/2 text-center">
            <h1 class="text-9xl">Julia</h1>
            <h2 class="text-6xl">Dieguez</h2>
            <div class="pt-10">
                <p class="tag | w-fit mx-auto px-5 py-1 text-xl font-mono opacity-80 bg-orange-300 -rotate-12">- Creaciones -</p>
            </div>
        </div>
        <div class="h-5/6 w-1/2 relative">
            <img class="h-full w-full object-cover border-4 border-black" src="../../../assets/img/IMG_6999 (1).jpg" alt="Girl snow">
            <div class="absolute -bottom-5 -right-24 -rotate-45 h-28 w-60 bg-white"></div>
        </div>
    </div>
</section>