.home-container {
    .cover-image {
        transform: rotate(10deg) translateY(2vh);
        transition: all 2s ease;

        &:hover {
            transform: rotate(0) translateY(0);
        }

        img  { 
            height: 420px;
            width: 400px;
            object-fit: cover;
            transition: all 2s ease; 
            box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.2);
        }

        &:hover > img {
            top: 0;
            left: 0;
            box-shadow: none;
        }
    }
}