<section class="home-container | flex justify-center items-center h-screen pt-24 pb-10 md:px-8 px-5 
bg-white text-black font-indie relative overflow-hidden">

    <!-- LEFT -->
    <div class="w-1/2 space-y-14">
        <!--  -->
        <img class="h-72 mx-auto object-cover" src="../../../assets/logo/nombre.png">

        <!-- SOCIAL -->
        <div class="flex justify-center items-center gap-10">
            <a href="">
                <img src="../../../assets/icons/instagram.svg" alt="">
            </a>
            <a href="">
                <img src="../../../assets/icons/spotify.svg" alt="">
            </a>
            <a href="">
                <img src="../../../assets/icons/facebook.svg" alt="">
            </a>
        </div>
    </div>
    
    <!-- RIGHT -->
    <div class="cover-image | relative cursor-pointer">
        <img class="border-4 border-black relative z-30" src="assets/img/juli_bolas.jpg"> <!-- No funciona SHADOW??? -->
        <img class="absolute top-5 left-5 z-20 opacity-60" src="assets/img/juli_bolas.jpg">
        <img class="absolute top-10 left-10 z-10 opacity-30" src="assets/img/juli_bolas.jpg">
    </div>
    
</section>