.rope {
    background-image: url('../../../assets/img/rope.svg');
    /* background-position: center; */
    background-size: contain;
    background-repeat: repeat-x;
}

.rope:first-of-type {
    background-position: center -4px;
}

.rope:last-of-type {
    background-position: center 4px;
}