<header class=" bg-primary h-24 px-20 text-white relative">
    <nav class="justify-between items-center h-full max-w-[1600px] mx-auto md:flex hidden">
        <div class="rope | absolute top-0 left-0 h-5 w-full opacity-30"></div>

        <!-- LOGO -->
        <div class="cursor-pointer -rotate-3 hover:scale-105 active:scale-95">
            <h1 class="text-6xl font-serif drop-shadow-lg">J.</h1>
        </div>
    
        <!-- NAVBAR -->
        <ul class="flex justify-between items-center flex-1 max-w-[900px] px-16 text-2xl font-indie font-bold">
            <li *ngFor="let link of menuLinks" class="hover:text-black hover:underline">
                <a [href]="link.url">{{ link.title }}</a>
            </li>
        </ul>
        
        <!-- BASKET -->
        <div class="text-3xl cursor-pointer hover:scale-105 active:scale-95 hover:shadow-xl relative">
            <i class="bi bi-cart"></i>
            <div class="absolute top-0 -right-3 h-5 w-5 rounded-full bg-secondary text-sm font-bold text-center select-none">0</div>
        </div>
        
        <div class="rope | absolute bottom-0 left-0 h-5 w-full opacity-30"></div>
    </nav>
</header>

