<header class=" bg-white md:h-24 h-14 md:px-20 px-8 text-black sticky top-0 left-0 right-0 z-20">
    <nav class="justify-between items-center h-full max-w-[1600px] mx-auto md:flex hidden">
        <!-- <div class="rope | absolute top-0 left-0 h-5 w-full opacity-40"></div> -->

        <!-- LOGO -->
        <div class="cursor-pointer hover:scale-105 active:scale-95 pb-3">
            <img class="h-14" src="assets/logo/logo.png" alt="Logo">
        </div>
    
        <!-- NAVBAR -->
        <ul class="flex justify-between items-center flex-1 max-w-[800px] px-16 text-2xl font-special uppercase">
            <li *ngFor="let link of menuLinks" class="hover:text-black hover:font-bold">
                <a [href]="link.url">{{ link.title }}</a>
            </li>
        </ul>
        
        <!-- BASKET -->
        <div class="text-3xl cursor-pointer hover:scale-105 active:scale-95 relative">
            <i class="bi bi-cart hover:drop-shadow-xl"></i>
            <div class="absolute top-0 -right-3 h-5 w-5 rounded-full bg-secondary text-sm font-bold text-center select-none">0</div>
        </div>
        
        <div class="rope | absolute bottom-0 left-0 h-5 w-full opacity-40"></div>
    </nav>

    <!-- MOBIL -->
    <div class="md:hidden flex justify-between items-center h-full">
        <!-- LOGO -->
        <div class="cursor-pointer hover:scale-105 active:scale-95">
            <img class="h-10 object-contain" src="assets/logo/logo.png" alt="Logo">
        </div>

        <!-- BURGUER -->
        <label for="burger" class="md:hidden block relative bottom-1 right-0 h-4 w-5 cursor-pointer">
            <!-- <input [(ngModel)]="isMenuOpen" (change)="toggleMenu($event)" type="checkbox" id="burger" class="hidden peer"> -->
            <input type="checkbox" id="burger" class="hidden peer">
            <span class="block h-0.5 w-full bg-rainbox-yellow rounded-xl absolute top-0 
                            peer-checked:top-1/2 peer-checked:rotate-[calc(45deg*9)] transition-all duration-500 ease-linear">
            </span>
            <span class="block h-0.5 w-full bg-rainbox-orange rounded-xl absolute top-[calc(50%-2px)] 
                            peer-checked:hidden transition-all duration-500 ease-linear">
            </span>
            <span class="block h-0.5 w-full bg-rainbox-red rounded-xl absolute top-[calc(100%-4px)] 
                            peer-checked:top-1/2 peer-checked:rotate-[calc(-45deg*9)] transition-all duration-300 ease-linear">
            </span>
        </label>
    </div>
</header>

